{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "ignorePatterns": [
    ".next",
    "next-env.d.ts",
    "out"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          ["parent", "sibling"],
          "index"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": false,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": false,
        "shorthandFirst": false,
        "shorthandLast": false
      }
    ],
    "react/prop-types": "off",
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "minKeys": 2,
        "natural": true
      }
    ]
  }
}
